.container {
  margin: 45px 10px;
}

.container > h2 {
  color: black;
  font-weight: bolder;
  font-size: 30px;
}

.top1140Title {
  margin: 0px 10px -10px 10px;
}

.movieCard {
  width: auto;
  height: 100%;
  background-color: lightgoldenrodyellow;
  color: black;
}

.bgCards {
  display: flex;
  flex-direction: row;
  overflow: auto hidden;
  scroll-behavior: smooth;
  background-color: var(--color4);

  margin: 20px auto 0;
  padding: 20px;
  border-top: 7px solid var(--color5);
}

/* Media Queries */
@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    margin: 45px auto;
    width: 60vw;
  }

  .top10Title {
    text-align: center;
    margin-bottom: 40px;
  }

  /* */
  .bgCards {
    width: 80vw;
    /* display: flex;
    justify-content: space-around; */
    /* flex-wrap: wrap; */
    overflow: auto hidden;
    scroll-behavior: smooth;
    background-color: var(--color4);
    margin: 20px auto;
    border-radius: 20px;
    border: 7px solid var(--color5);
  }
}

@media (min-width: 1024px) {
}
